.title {
    align-items: center;
    justify-content: center;
    display: flex;
}
.title h2{
    padding: 10px;
    border-bottom: 2px solid orange;

}

.projects {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
}
.projects .web {
  /* width: 300px; */
  height: 250px;
  text-align: center;
  border-radius: 20px;
  padding: 50px 0;
  box-shadow: 5px 5px 5px gray;
}
.projects .web h2 {
  color: blue;
  padding: 5px 0;
  font-weight: bold;
}
.projects .web p {
  font-size: 20px;
  padding: 10px;
}
.projects .web button {
  width: 100px;
  padding: 15px 10px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
}
.projects .mobile {
  /* width: 300px; */
  height: 250px;
  text-align: center;
  border-radius: 20px;
  padding: 50px 0;
  box-shadow: 5px 5px 5px gray;
}
.projects .mobile h2 {
  color: blue;
  padding: 5px 0;
  font-weight: bold;
}
.projects .mobile p {
  font-size: 20px;
  padding: 10px;
}
.projects .mobile button {
  width: 100px;
  padding: 15px 10px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
}

.projects .graphics {
  /* width: 300px; */
  height: 250px;
  text-align: center;
  border-radius: 20px;
  padding: 50px 0;
  box-shadow: 5px 5px 5px gray;
}
.projects .graphics h2 {
  color: blue;
  padding: 5px 0;
  font-weight: bold;
}
.projects .graphics p {
  font-size: 20px;
  padding: 10px;
}
.projects .graphics button {
  width: 100px;
  padding: 15px 10px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
}